html, body{
  font-family: 'Rubik', sans-serif;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(180deg, hsla(210, 100%, 100%, 0.6) 0%, hsla(180, 100%, 99%, 1) 0%, hsla(75, 6%, 87%, 1) 100%, hsla(348, 100%, 99%, 1) 100%);
}

#cover{
  background: url('https://image.freepik.com/fotos-gratis/vista-do-navegador-de-codigo-html-do-site-impressa-em-papel-branco-vista-closeup_211682-166.jpg');
}

article a{
  text-decoration: none;
}
