html, body{
  font-family: 'Rubik', sans-serif;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(180deg, hsla(210, 100%, 100%, 0.6) 0%, hsla(180, 100%, 99%, 1) 0%, hsla(75, 6%, 87%, 1) 100%, hsla(348, 100%, 99%, 1) 100%);
}

.strong{
  font-weight: 600;
}

.italic{
  font-style: italic;
}

.scratched{
  text-decoration: line-through;
}

#navBar {
  padding: 10px 10px 10px 20px ;
  background: #1b263b;
}

#menu {
  margin: -50px 100px 10px;
  text-align: right;
}

.text-overlay{
  font: normal normal 500 1em/1em "Rubik";
  color: #E0E1DD;
}
.coverHTML{
  margin: 30px 80px 0px 80px;;
  padding: 20px;
  text-align: center;
  background: #f79267;
}

#cover{
  margin: 30px 80px 0px 80px;;
  padding: 20px;
  text-align: center;
  background: #4099d5;
}

#contentPage{
  padding: 20px 170px 20px 170px;
  text-align: justify;
}

.content{
  background: #fff;
  padding: 20px;
  margin-top: -50px;
}


#footer{
  text-align: center;
  padding: 10px;
  margin-top: -10px;
}

nav #menu a{
  text-decoration: none;
  color: #778da9;
}

nav #menu a:hover{
  color: #e0e1dd;
}


ul li a{
  text-decoration: none;
  color: #1b263b;
}

article a{
  text-decoration: none;
}

p a{
  text-decoration: none;
  color: #1b263b;
}
